// Property List View
.newer {
  .prev-label {
    padding-right: 10px;
  }
  a {
  	text-decoration: underline;
  }
}

// Property Item View
.property-item {
  .amd-gallery {
    padding: 15px;
    overflow: hidden;

    img {
      width: auto;
      height: 375px;
    }
  }
}
